html, body{
	position: relative;
	height: 100vh;
}
footer {
	position: relative;
	bottom: 0;
	width: 100%;	
}

.footer-container {
	width: 65%;
	margin: 0 auto;
	background-color: #1565c0;
	position: absolute;
	bottom: 0;
	left: 15%;
	dislpay: flex;
	text-align: center;
	padding: 3px;
}

.footer-container a {
	margin-left: 10px
}

.icon {
	width: 60px;
}

.icon:hover {
	width: 80px;
	transition: all 5s easy-in;
}