<!DOCTYPE html>
<html ng-app="worstFitApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" href="js/jquery-ui/jquery-ui.min.css">

	<script src="js/angular-1.5.6/angular.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui/jquery-ui.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/materialize.js"></script>

	<meta charset="utf-8">
	<title>Worst fit</title>
</head>
<body ng-controller="appController" >

	<div class="window-area ui-widget-content" id="window">
		<div class="window">
			<div class="window-header">
				<div class="window-buttons">
					<div class="window-button" id="close"></div>
					<div class="window-button" id="minimize"></div>
					<div class="window-button" id="maxmize"></div>
				</div>
				<span>Memory manager</span>
			</div>
			<div class="window-content">
				<div class="memory-wrapper">
					<span class="memory-name">Memory 1</span>
					<div class="memory">
						<div ng-repeat="item in memory1.list" class="item"
							style="width: {{item.size}}%" 
							title="{{item.id}}"
							class="memory1"
							ng-mouseenter="mouseEnter(item.id)"
							ng-mouseleave="mouseLeave(item.id)"
							ng-class="item.status == 'USED' ? 'used-memory' : 'free-memory'">
							{{item.id}}
						</div>
					</div>
				</div>
				<div class="memory-wrapper">
					<span class="memory-name">Memory 2</span>
					<div class="memory">
						<div ng-repeat="item in memory2.list" class="item"
							style="width: {{item.size}}%" 
							title="{{item.id}}" 
							ng-mouseenter="mouseEnter(item.id)"
							ng-mouseleave="mouseLeave(item.id)"
							ng-class="item.status == 'USED' ? 'used-memory' : 'free-memory'">
							{{item.id}}
						</div>
					</div>
				</div>
				
				<div class="line"> </div>
				<div class="row">
					<div class="col s6">
						<table class="striped">
							<thead>
								<tr>
									<th data-field="id">Address</th>
									<th data-field="name">Size</th>
									<th data-field="price">Process</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in memory1.list" id="{{item.id}}" class="grid-line">
									<td>{{item.id}}</td>
									<td>{{item.size}}MB</td>
									<td>
										<img ng-if="item.process.icon != null" src="{{item.process.icon}}" width="25px" height="25px">
										{{item.process.name}}
									</td>
								</tr>
							</tbody>	
						</table>
					</div>
					<div class="col s6">
						<table class="striped">
							<thead>
								<tr>
									<th data-field="id">Address</th>
									<th data-field="name">Size</th>
									<th data-field="price">Process</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in memory2.list" id="{{item.id}}" class="grid-line">
									<td>{{item.id}}</td>
									<td>{{item.size}}MB</td>
									<td>
										<img ng-if="item.process.icon != null" src="{{item.process.icon}}" width="25px" height="25px">
										{{item.process.name}}
									</td>
								</tr>
							</tbody>	
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="footer-container">
			<div style="cursor: pointer" ng-click="click(item)" ng-repeat="item in programs track by $index" >
				<img class="icon" title="{{item.size}}MB" src="{{item.icon}}" width="45px" height="45px">
			</div>
		</div>
	</div>
</body>
</html>